.sheet-cell-list {
	position: relative;
}

.sc-drag-container {
	border: 1px solid var(--bulma-hr-background-color);
	border-radius: 0.25rem;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 0.25rem;
	overflow: hidden;

	position: relative;

	background-color: var(--bulma-scheme-main);
}

.sc-drag-handle {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

	flex: 0;
	border-right: 1px solid var(--bulma-hr-background-color);
	padding: 0.5rem;

	touch-action: none;

	align-content: center;
}

.sc-drag-content {
	flex: 1;
	padding: 0.5rem;
}

.sc-v-formula {
	min-width: 10rem;
	cursor: pointer;
}
